body
{
  background-color: black;
}

.main
{
  height: 90vh;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden
{
  display: none;
}

.userLogin
{
  width: 500px;
  height: 500px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.label
{
  color: white;
}

.userBalance
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20%;
}

.secondSec
{
  width: 500px;
  height: 500px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.displayCurrBal
{
  width: 250px;
  height: 50px;
  border: 1px solid #fff;
  place-items: center;
}

.displayCurrBal p
{
  color: white ;
}

.mainControl
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.mainControl h2
{
  color: white;
  padding: 0%;
  margin: 0%;
}

.thirdSec
{
  width: 500px;
  height: 500px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputAmount
{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20%;
}

.identifySender
{
  margin-top: 20px;
}

.sendTo
{
  width: 145px;
}
